body{
	background-color: red;
	margin: 0 auto;
}
h1{
	text-align: center;
}
.lead{
	text-align: center;
}
.pictures{
	text-align: center;
}
.nav{
	font-size: 30px;
	color:black;
}
.display-3{
	color: #3399ff;
}
.nav-link{
	color:#3399ff;
}
.Resume{
	text-align: center;
}
.bluetext{
	font-weight: bold;
	font-size: 30px;
}
.blacktext{
	color:black;
	font-size: 20px;
}
.aboutme{
	text-align: center;
}
